.App {
	display: grid;
	grid-template-rows: 1fr 3fr;
	min-height: 100vh;
	background-color: var(--bg-secondary);
	position: relative;
	transition: background-color 0.5s ease-in-out;
}

.app-bg {
	height: 100%;
	overflow: hidden;
}

.app-bg img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.app-body {
	position: absolute;
	top: 8%;
	left: 50%;
	transform: translate(-50%);
	width: 60%;
}

.app-body > div:first-child {
	margin-bottom: 2em;
}

.app-body h1 {
	font-size: 3rem;
	letter-spacing: 0.3em;
	color: #fff;
}

.app-body img {
	cursor: pointer;
	object-fit: cover;
}

.app-body .todo-input {
	position: relative;
	margin-bottom: 2em;
	border-radius: 0.6em;
	box-shadow: 0 3px 20px 10px rgba(0, 0, 0, 0.45);
}

.app-body .todo-input input[type="text"] {
	padding: 1em 4em 1em 3em;
	width: 100%;
	border-radius: 0.5em;
	border: none;
	font-size: 1.1rem;
	font-weight: 500;
	background-color: var(--bg-primary);
	color: var(--font-primary);
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.app-body .todo-input input[type="text"]::placeholder {
	font-weight: 700;
	font-size: 1rem;
	color: var(--font-primary);
	transition: color 0.5s ease-in-out;
}

.app-body .todo-input input[type="text"].error {
	border: 1px solid red;
}

.app-body .todo-input input[type="checkbox"] {
	position: absolute;
	left: 1em;
	top: 50%;
	transform: translateY(-50%);
	appearance: none;
	-webkit-appearance: none;
	border: 1px solid var(--font-primary);
	padding: 0.5em;
	border-radius: 50%;
	font-size: 1.1rem;
}

.app-body .todo-input input[type="checkbox"]:checked {
	background: linear-gradient(135deg, var(--primary-check-background))
		center/cover no-repeat;
}

.app-body .todo-input input[type="checkbox"]:checked:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("./icon-check.svg");
	width: 50%;
	height: 50%;
}

.app-body .todo-input img {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	object-fit: cover;
	padding: 1em;
	transition: background-color 0.3s ease-in-out;
}

.app-body .todo-input img:hover {
	background-color: limegreen;
}

.app-body > p {
	color: var(--font-secondary);
	font-size: 1rem;
	text-align: center;
	margin-bottom: 3em;
}

.todo-list {
	box-shadow: 0 3px 20px 5px rgba(0, 0, 0, 0.1);
}

.todo-list ul li {
	width: 100%;
	list-style: none;
	background-color: var(--bg-primary);
	padding: 1em;
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--font-primary);
	border-bottom: 1px solid var(--font-secondary);
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.todo-list ul li.over {
	opacity: 0.6;
}

.todo-list ul li.completed {
	background-color: var(--bg-secondary);
	text-decoration: line-through;
}

.todo-list ul li:first-of-type {
	border-radius: 0.5em 0.5em 0 0;
}

.todo-list ul li input {
	margin-right: 2em;
	cursor: pointer;
}

.todo-list ul li img {
	margin-left: auto;
}

.todo-list ul li p {
	cursor: pointer;
}

.todo-list input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	border: 1px solid var(--font-primary);
	padding: 0.8em;
	border-radius: 50%;
	position: relative;
}

.todo-list input[type="checkbox"]:checked {
	background: linear-gradient(135deg, var(--primary-check-background))
		center/cover no-repeat;
}

.todo-list input[type="checkbox"]:checked:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("./icon-check.svg") no-repeat center/cover;
	width: 50%;
	height: 50%;
	pointer-events: none;
}

.empty {
	background-color: var(--bg-primary);
	border-radius: 0.5em 0.5em 0 0;
	text-align: center;
	padding: 1em 0;
	transition: background-color 0.5s ease-in-out;
}

.empty h2 {
	color: var(--font-primary);
	font-size: 2rem;
	font-weight: 700;
	transition: color 0.5s ease-in-out;
}

.filter {
	padding: 1em;
	background-color: var(--bg-primary);
	border-radius: 0 0 0.5em 0.5em;
	font-size: 1rem;
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
	margin-bottom: 3em;
}

.filter p {
	color: var(--font-secondary);
}

.filter div button {
	font-weight: 700;
	margin-right: 1em;
	color: var(--font-secondary);
	background-color: transparent;
	border: none;
	font-size: 1rem;
	cursor: pointer;
}

.filter div button:last-child {
	margin-right: unset;
}

.filter div button.active {
	color: var(--primary-bright-blue);
}

.filter > button {
	font-weight: 500;
	color: var(--font-secondary);
	background-color: transparent;
	border: none;
	font-size: 1rem;
	cursor: pointer;
}

@media (max-width: 1200px) {
	.app-body {
		width: 80%;
	}
}

@media (max-width: 650px) {
	.todo-list {
		position: relative;
	}

	.empty {
		padding: 1em;
	}

	.empty h2 {
		font-size: 1.5rem;
	}

	.filter div.flex {
		position: absolute;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		bottom: -5rem;
		background-color: var(--bg-primary);
		padding: 1em 0;
		justify-content: center;
		border-radius: 0.5em;
		transition: background-color 0.5s ease-in-out;
	}

	.filter {
		margin-bottom: 8em;
	}
}
